body {
  margin: 0;
}

.App {
  border: rgb(17, 124, 190);
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 100px 300px 300px 1fr;
  grid-template-areas:
    "Header"
    "FilterBar";
}

.Header {
  border: rgb(17, 190, 37);
  grid-area: Header;
}

.FilterBar {
  border: rgb(190, 17, 28);
  grid-area: FilterBar;
}
