body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 150px 100px 1fr;
  grid-template-areas:
    "Header"
    "FilterBar"
    "Main";
}

.Header {
  grid-area: Header;
}

.FilterBar {
  grid-area: FilterBar;
}

.Main {
  grid-area: Main;
  border: 2px solid rgb(120, 120, 120);
  padding: 3rem;
}

.filter-bar {
  border-radius: 20%;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.property-card {
  box-shadow: 3px 3px;

  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
}
